# Core ML + Deep Learning
torch==2.9.0
torchvision==0.24.0
torchaudio==2.9.0

# EfficientNet for classification
efficientnet-pytorch

# YOLOv8 for detection
ultralytics

# Model serving / export
onnx
onnxruntime
tensorflow

# Utilities
pandas
numpy
pillow
scikit-learn
protobuf==3.20.3
gdown

# Visualization / Explainability
matplotlib
seaborn
grad-cam
plotly

# Deployment
streamlit

