# PyTorch CPU-only
torch==2.9.0
torchvision==0.24.0
torchaudio==2.9.0

# EfficientNet and YOLO
efficientnet-pytorch
ultralytics

# ONNX (prebuilt wheel)
onnx==1.15.0
onnxruntime==1.15.1
tensorflow

# Utilities
pandas
numpy
pillow
scikit-learn
protobuf==3.20.3
gdown

# Visualization / Explainability
matplotlib
seaborn
grad-cam
plotly

# Deployment
streamlit
